@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Прибираємо стандартний маркер Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

/* Прибираємо стандартний маркер Firefox */
details > summary {
  list-style: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
.body-footer__subtitle, .subscribe-section__subtitle, .posts-section__subtitle, .level-article__subtitle, .business-article__subtitle, .main-client__subtitle, .project-section__subtitle, .choose-section__subtitle, .solutions-section__subtitle, .right-plan__subtitle, .best-section__subtitle {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
}

.body-footer__subtitle::before, .subscribe-section__subtitle::before, .posts-section__subtitle::before, .level-article__subtitle::before, .business-article__subtitle::before, .main-client__subtitle::before, .project-section__subtitle::before, .choose-section__subtitle::before, .solutions-section__subtitle::before, .right-plan__subtitle::before, .best-section__subtitle::before {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.6875rem;
          flex: 0 0 0.6875rem;
  background-color: #40ddb6;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 12.125rem;
}

[class*=__container] {
  max-width: 78.125rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: white;
}
.header__background {
  background-color: #37393f;
}
.contacts-header {
  color: #fff;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3125rem 0.9375rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 31.1875em) {
  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }
}
.contacts-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
}
@media (max-width: 61.93625em) {
  .contacts-header__left {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 53.6875em) {
  .contacts-header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 31.1875em) {
  .contacts-header__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-header__location > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-header__location > a::before {
  content: "";
  background: url("../img/header-img/gps.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.0625rem;
          flex: 0 1 1.0625rem;
  width: 1.0625rem;
  height: 1.5625rem;
  margin-right: 0.7142857143em;
}
@media (any-hover: hover) {
  .contacts-header__location > a:hover {
    text-decoration: underline;
  }
}
.contacts-header__mail > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-header__mail > a::before {
  content: "";
  background: url("../img/header-img/mail.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.4375rem;
          flex: 0 1 1.4375rem;
  width: 1.4375rem;
  height: 1.25rem;
  margin-right: 0.7142857143em;
}
@media (any-hover: hover) {
  .contacts-header__mail > a:hover {
    text-decoration: underline;
  }
}
.contacts-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}
@media (max-width: 61.93625em) {
  .contacts-header__right {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 53.6875em) {
  .contacts-header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 31.1875em) {
  .contacts-header__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-header__time > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-header__time > a::before {
  content: "";
  background: url("../img/header-img/clock.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.0625rem;
          flex: 0 1 1.0625rem;
  width: 1.0625rem;
  height: 1.0625rem;
  margin-right: 0.2857142857em;
}
@media (any-hover: hover) {
  .contacts-header__time > a:hover {
    text-decoration: underline;
  }
}
.contacts-header__social img {
  width: 1.0625rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .contacts-header__social img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.contacts-header__social a:not(:last-child) {
  margin-right: 1em;
}

.header__menu {
  color: #37393f;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.0625rem 0;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 29.99875em) {
  .header__logo {
    width: 9.375rem;
  }
}
@media (max-width: 23.0625em) {
  .header__logo {
    width: 6.25rem;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 31.1875em) {
  .header__nav {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 61.93625em) {
  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(107, 119, 229, 0.5);
    padding: 4.375rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-header::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 4.1875rem;
    top: 0;
    left: 100%;
    z-index: 2;
    background-color: gray;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-open .menu-header {
    left: 0;
  }
  .menu-open .menu-header::before {
    left: 0;
  }
}
@media (max-width: 53.6875em) {
  .menu-header {
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu-header::before {
    min-height: 6.6875rem;
  }
}
@media (max-width: 44.5em) {
  .menu-header {
    padding: 13.75rem 0.9375rem 1.875rem 0.9375rem;
  }
}
@media (max-width: 31.1875em) {
  .menu-header {
    padding: 18.75rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu-header::before {
    min-height: 11.25rem;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 74.99875em) {
  .menu-header__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
@media (max-width: 61.93625em) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.5625rem;
  }
}
.menu-header__item {
  position: relative;
}
@media (any-hover: hover) {
  .menu-header__item:hover::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@media (any-hover: hover) {
  .menu-header__item:hover .submenu-header {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 61.93625em) {
  .menu-header__link {
    font-size: 1.875rem;
  }
}
.menu-header__item--submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  text-align: center;
}
.menu-header__item--submenu::after {
  content: "";
  display: inline-block;
  background: url("../img/header-img/arrow-menu.svg") no-repeat;
  width: 0.625rem;
  height: 0.375rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 61.93625em) {
  .menu-header__item--submenu::after {
    display: none;
  }
}
@media (max-width: 61.93625em) {
  .menu-header__item--submenu {
    display: block;
  }
}

.submenu-header {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 12.5rem;
  padding-top: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
@media (max-width: 61.93625em) {
  .submenu-header {
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 90vw;
  }
}
.submenu-header__list {
  background-color: blue;
  border-radius: 0.625rem;
}
.submenu-header__item {
  padding: 0.9375rem;
  color: white;
}
@media (any-hover: hover) {
  .submenu-header__link:hover {
    text-decoration: underline;
  }
}

.btn {
  padding: 1.3125rem 2.1875rem 1.375rem 2.1875rem;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6b77e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 5;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #2434c7;
  }
}
@media (max-width: 29.99875em) {
  .btn {
    padding: 0.9375rem;
    font-size: 1rem;
  }
}

.icon-menu {
  display: none;
  width: 1.875rem;
}
@media (max-width: 61.93625em) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
}
.menu-open .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.menu-open .icon-menu span {
  display: none;
}

.best-section {
  background: url("../img/main-img/background-main.jpg") 0 0/100% 815px no-repeat;
  background-size: cover;
  color: #fff;
}
.best-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 41.875rem;
  padding: 12.8125rem 1.875rem 12.75rem 7.3125rem;
}
@media (max-width: 47.99875em) {
  .best-section__content {
    padding: 12.8125rem 0.9375rem 12.75rem 3.75rem;
    max-width: 34.375rem;
  }
}
@media (max-width: 29.99875em) {
  .best-section__content {
    padding: 12.8125rem 0.9375rem 12.75rem 1.875rem;
  }
}
@media (max-width: 20em) {
  .best-section__content {
    padding: 6.25rem 0.3125rem 6.25rem 0.3125rem;
  }
}
.best-section__subtitle {
  margin-bottom: 0.8333333333em;
}
@media (max-width: 29.99875em) {
  .best-section__subtitle {
    font-size: 1rem;
  }
}
.best-section__title {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 110%; /* 66px */
  margin-bottom: 0.3333333333em;
}
.best-section__title span {
  color: #40ddb6;
}
@media (max-width: 47.99875em) {
  .best-section__title {
    font-size: 2.5rem;
  }
}
.best-section__text {
  color: #b9b9b9;
  font-weight: 500;
  line-height: 146.187%; /* 26.314px */
  margin-bottom: 1.9444444444em;
}
.best-section__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (max-width: 47.99875em) {
  .best-section__links {
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .best-section__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.best-section__img-watch {
  vertical-align: middle;
  margin-right: 0.5555555556em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  max-width: 3.75rem;
  max-height: 3.75rem;
}
@media (max-width: 29.99875em) {
  .best-section__img-watch {
    max-width: 3.125rem;
    max-height: 3.125rem;
  }
}
.best-section__img-watch img {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .best-section__img-watch:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.best-section__watch {
  font-weight: 600;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .best-section__watch:hover {
    text-decoration: underline;
  }
}

@media (max-width: 29.99875em) {
  .btn--width {
    padding-inline: 3.75rem;
  }
}

.plan-section {
  position: relative;
  margin-bottom: 7.0555555556em;
}
.plan-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 43.2%;
  height: 100%;
  background-color: #f4f4f4;
}
.plan-section__container {
  position: relative;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 4.3125rem;
  padding-top: 9.4375rem;
  padding-bottom: 9.4375rem;
}
@media (max-width: 47.99875em) {
  .plan-section__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 29.99875em) {
  .plan-section__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.left-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  padding-right: 3.25rem;
}
.left-plan__img {
  aspect-ratio: 408/446;
  max-width: 25.5rem;
  max-height: 27.875rem;
}
.left-plan__img img {
  width: 100%;
  height: 100%;
}
.left-plan__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 121%; /* 36.3px */
}
.left-plan__text, .merits-plan__text, .right-plan__text {
  color: #7d7d7d;
  line-height: 146.187%; /* 26.314px */
}
.left-plan__text p:not(:last-child), .merits-plan__text p:not(:last-child), .right-plan__text p:not(:last-child) {
  margin-bottom: 0.2777777778em;
}
.left-plan__link, .choose-section__link {
  -ms-flex-item-align: start;
      align-self: start;
  color: #37393f;
  font-weight: 600;
  text-transform: capitalize;
  border: 0.125rem solid rgba(55, 57, 63, 0);
  border-bottom: 0.125rem solid #37393f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .left-plan__link:hover, .choose-section__link:hover {
    border: 0.125rem solid #37393f;
    border-radius: 0.3125rem;
  }
}

.right-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right-plan__subtitle {
  color: #37393f;
  margin-bottom: 0.8888888889em;
}
.right-plan__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
  margin-bottom: 0.5em;
  max-width: 25.9375rem;
}
.right-plan__text {
  margin-bottom: 1.1111111111em;
}
.right-plan__text p:not(:last-child) {
  margin-bottom: 0.8333333333em;
}
.right-plan__list {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 2.15em;
}
.right-plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  line-height: 146.187%; /* 26.314px */
}
.right-plan__item:not(:last-child) {
  margin-bottom: 1.2777777778em;
}
.right-plan__item::before {
  content: "";
  background: url("../img/main-img/vector.svg") no-repeat;
  width: 1.6875rem;
  height: 1.6875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875rem;
          flex: 0 0 1.6875rem;
}
.right-plan__merits {
  margin-bottom: 2.0555555556em;
}
.right-plan__btn {
  -ms-flex-item-align: start;
      align-self: start;
}

.merits-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.3125rem;
}
.merits-plan__item {
  border: 0.0625rem solid #e3e3e3;
  padding: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.4375rem;
          flex: 0 1 18.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.1875rem;
     -moz-column-gap: 1.1875rem;
          column-gap: 1.1875rem;
}
.merits-plan__img img {
  width: 2.4375rem;
  height: 2.4375rem;
}
.merits-plan__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.15em;
}
.merits-plan__text {
  line-height: 135.187%; /* 21.63px */
  font-size: 1rem;
}

.brands-section__container {
  padding-inline: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 7.1875rem;
     -moz-column-gap: 7.1875rem;
          column-gap: 7.1875rem;
  row-gap: 3.125rem;
  margin-bottom: 4.5555555556em;
}
.brands-section__item {
  max-width: 9.375rem;
  max-height: 6.25rem;
}
.brands-section__item img {
  width: 100%;
  height: 100%;
}

.solutions-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.5rem;
  margin-bottom: 7.2777777778em;
}
@media (max-width: 29.99875em) {
  .solutions-section__container {
    padding-inline: 0rem;
  }
}
.solutions-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.solutions-section__subtitle {
  color: #37393f;
  font-weight: 500;
}
.solutions-section__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
}
.solutions-section__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
@media (max-width: 74.99875em) {
  .solutions-section__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .solutions-section__body {
    grid-template-columns: repeat(1, 1fr);
  }
}
.solutions-section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-solution {
  padding: 1.875rem;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.item-solution__title {
  font-family: "Poppins", sans-serif;
  color: #37393f;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 127%; /* 31.75px */
  margin-bottom: 1.08em;
}
@media (max-width: 29.99875em) {
  .item-solution__title {
    font-size: 1.25rem;
  }
}
.item-solution__link, .article-post__link {
  color: #6b77e5;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .item-solution__link:hover, .article-post__link:hover {
    text-decoration: underline;
  }
}
.item-solution__img {
  max-width: 4.5rem;
  max-height: 4.5rem;
  aspect-ratio: 72/72;
}
@media (max-width: 29.99875em) {
  .item-solution__img {
    max-width: 3.75rem;
    max-height: 3.75rem;
  }
}
.item-solution__img img {
  width: 100%;
  height: 100%;
}

.choose-section {
  width: 100%;
  position: relative;
  color: #fff;
}
.choose-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #37393f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.choose-section__background img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose-section__container {
  position: relative;
  z-index: 2;
  margin-bottom: 7.3333333333em;
}
@media (max-width: 29.99875em) {
  .choose-section__container {
    padding-inline: 0;
  }
}
.choose-section__body {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8.625rem 0 8.5rem 0;
}
@media (max-width: 78.1875em) {
  .choose-section__body {
    max-width: 100%;
  }
}
.choose-section__subtitle {
  font-weight: 500;
  margin-bottom: 0.7222222222em;
}
.choose-section__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 121%; /* 36.3px */
  max-width: 23.125rem;
  margin-bottom: 0.4333333333em;
}
.choose-section__text {
  line-height: 146.187%; /* 26.314px */
  margin-bottom: 2em;
}
.choose-section__procents {
  margin-bottom: 2em;
}
.choose-section__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.3125rem;
     -moz-column-gap: 2.3125rem;
          column-gap: 2.3125rem;
  row-gap: 1.6875rem;
}
.choose-section__statistic p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.choose-section__statistic p::before {
  content: "";
  background: url("../img/main-img/choose-vector.svg") no-repeat;
  width: 1.6875rem;
  height: 1.6875rem;
}
.choose-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.4375rem;
}
.choose-section__star::before {
  content: "";
  display: inline-block;
  background: url("../img/main-img/choose-star.svg") no-repeat;
  width: 1.0625rem;
  height: 1.0625rem;
  vertical-align: middle;
  margin-right: 0.3333333333em;
}
.choose-section__link {
  color: #40ddb6;
  border: 0.125rem solid rgba(64, 221, 182, 0);
  border-bottom: 0.125rem solid #40ddb6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .choose-section__link:hover {
    border: 0.125rem solid #40ddb6;
    border-radius: 0.3125rem;
  }
}

.procents-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 0.9375rem;
}
.procents-choose__item {
  padding: 1.6875rem 1.875rem;
  background-color: #2e2f34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.5625rem;
          flex: 0 1 18.5625rem;
}
.procents-choose__circle {
  width: 4.9375rem;
  height: 4.9375rem;
}
.procents-choose__circle img {
  width: 4.9375rem;
  height: 4.9375rem;
  border-radius: 50%;
}
.procents-choose__title {
  font-size: 1rem;
  line-height: 135.187%; /* 21.63px */
  margin-bottom: 0.3125em;
}
.procents-choose__label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.project-section__wrapper {
  margin-bottom: 8.3333333333em;
}
.project-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2222222222em;
  row-gap: 1.25rem;
}
.project-section__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.project-section__subtitle {
  color: #37393f;
  font-weight: 500;
  margin-bottom: 0.8888888889em;
}
.project-section__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
}
.project-section__link {
  background-color: #40ddb6;
  padding: 1.3125rem 2.8125rem;
}
@media (any-hover: hover) {
  .project-section__link:hover {
    background-color: #1eca9f;
  }
}
@media (max-width: 29.99875em) {
  .project-section__link {
    padding: 1.3125rem 2.1875rem 1.375rem 2.1875rem;
    font-size: 1.125rem;
  }
}
.project-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 2.5rem;
}
.project-section__body a {
  aspect-ratio: 434/502;
  max-width: 27.125rem;
  max-height: 31.375rem;
}
.project-section__body img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
@media (min-width: 61.93625em) {
  .project-section__body img {
    -webkit-filter: blur(0.125rem);
            filter: blur(0.125rem);
  }
}
@media (any-hover: hover) {
  .project-section__body img:hover {
    -webkit-filter: blur(0rem);
            filter: blur(0rem);
  }
}

.client-section__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-top: 0.0625rem solid #c5c5c5;
  padding-top: 8.75rem;
  margin-bottom: 15.2777777778em;
}
@media (max-width: 61.93625em) {
  .client-section__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .client-section__container {
    padding-inline: 0;
  }
}
.main-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-client__subtitle {
  color: #37393f;
  margin-bottom: 0.8888888889em;
}
.main-client__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
  margin-bottom: 0.575em;
  max-width: 15.1875rem;
}
.main-client__text {
  color: #7d7d7d;
  line-height: 146.187%; /* 26.314px */
}

.feedback-client {
  padding: 3.125rem 2.3125rem;
  background-color: #f6f6f6;
}
.feedback-client__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 1.8888888889em;
}
.feedback-client__img {
  max-width: 6.25rem;
  max-height: 6.25rem;
}
.feedback-client__img img {
  aspect-ratio: 100/100;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback-client__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.05em;
}
.feedback-client__position {
  color: #7d7d7d;
  font-size: 1rem;
  line-height: 135.187%; /* 21.63px */
  margin-bottom: 0.0625em;
}
.feedback-client__text {
  color: #7d7d7d;
  font-size: 1.375rem;
  font-style: italic;
  line-height: 146.187%; /* 32.161px */
}

.business-section {
  background-color: #6b77e5;
  color: #ffffff;
}
.business-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.3125rem;
     -moz-column-gap: 3.3125rem;
          column-gap: 3.3125rem;
  row-gap: 3.125rem;
  padding-top: 7.6875rem;
  padding-bottom: 7.6875rem;
}
@media (max-width: 61.93625em) {
  .business-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 29.99875em) {
  .business-section__container {
    padding-inline: 0;
  }
}
.business-section__level {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.business-section__business {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.level-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.level-article__subtitle, .business-article__subtitle {
  margin-bottom: 0.8888888889em;
}
.level-article__title, .business-article__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
  margin-bottom: 0.525em;
}
.level-article__text {
  line-height: 146.187%; /* 26.314px */
  margin-bottom: 1.8888888889em;
}
.level-article__projects {
  background-color: #40ddb6;
  padding: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.4375rem;
     -moz-column-gap: 1.4375rem;
          column-gap: 1.4375rem;
  row-gap: 1.25rem;
  margin-bottom: 2.7777777778em;
}
@media (max-width: 29.99875em) {
  .level-article__projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.level-article__circle {
  max-width: 8rem;
  max-height: 8rem;
}
.level-article__circle img {
  aspect-ratio: 128/128;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.level-article__describe {
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
  line-height: 127%; /* 31.75px */
}
.level-article__item:not(:last-child) {
  margin-bottom: 1em;
}
.level-article__item:not(:last-child) p {
  border-bottom: 0.0625rem solid #ffffff;
  padding-bottom: 1.3125rem;
}
.level-article__item::before {
  content: "";
  display: inline-block;
  background: url("../img/main-img/choose-vector.svg") no-repeat;
  width: 1.6875rem;
  height: 1.6875rem;
  vertical-align: middle;
  margin-right: 0.8888888889em;
}
.level-article__item p {
  margin-left: 2.3888888889em;
  line-height: 146.187%; /* 26.314px */
}

.business-article__form {
  padding: 3.625rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}
@media (max-width: 29.99875em) {
  .business-article__form {
    padding-inline: 0.625rem;
  }
}
.business-article__form input,
.business-article__form textarea {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 1.3125rem 0 1.375rem 2.0625rem;
  width: 100%;
}
.business-article__form input::-webkit-input-placeholder, .business-article__form textarea::-webkit-input-placeholder {
  color: #37393f;
}
.business-article__form input::-moz-placeholder, .business-article__form textarea::-moz-placeholder {
  color: #37393f;
}
.business-article__form input:-ms-input-placeholder, .business-article__form textarea:-ms-input-placeholder {
  color: #37393f;
}
.business-article__form input::-ms-input-placeholder, .business-article__form textarea::-ms-input-placeholder {
  color: #37393f;
}
.business-article__form input::placeholder,
.business-article__form textarea::placeholder {
  color: #37393f;
}
.business-article__form textarea {
  padding: 0.6875rem 0 6.625rem 2.0625rem;
  resize: vertical;
  line-height: 146.187%; /* 26.314px */
}
.business-article__body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.4375rem;
     -moz-column-gap: 1.4375rem;
          column-gap: 1.4375rem;
  row-gap: 1.875rem;
}
.business-article__btn {
  -ms-flex-item-align: start;
      align-self: start;
  background-color: #40ddb6;
  color: #37393f;
  padding: 1.3125rem 3.8125rem;
}
@media (any-hover: hover) {
  .business-article__btn:hover {
    background-color: #1eca9f;
  }
}

.team-section {
  background: url("../img/main-img/team-img.webp") 0 0/cover no-repeat;
}
.team-section__container {
  text-align: center;
  padding-top: 15.9375rem;
  padding-bottom: 15.9375rem;
  margin-bottom: 11.1111111111em;
}
@media (max-width: 29.99875em) {
  .team-section__container {
    padding-inline: 0;
  }
}
.team-section__block {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
  padding: 5.4375rem 8.125rem;
  background-color: rgba(55, 57, 63, 0.8);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .team-section__block:hover {
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    background-color: #37393f;
  }
}
@media (max-width: 47.99875em) {
  .team-section__block {
    padding: 5.4375rem 4.375rem;
  }
}

.posts-section__container {
  margin-bottom: 8.3333333333em;
}
@media (max-width: 29.99875em) {
  .posts-section__container {
    padding-inline: 0;
  }
}
.posts-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2222222222em;
}
.posts-section__subtitle {
  color: #37393f;
  font-weight: 500;
  margin-bottom: 0.8888888889em;
}
.posts-section__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
}
.posts-section__link {
  background-color: #37393f;
  padding: 1.3125rem 2.6875rem;
}
@media (any-hover: hover) {
  .posts-section__link:hover {
    background-color: #1c1d1f;
  }
}
.posts-section__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.25rem;
}
@media (max-width: 47.99875em) {
  .posts-section__body {
    grid-template-columns: 1fr;
  }
}

.article-post__card {
  margin-bottom: 1.0555555556em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article-post__img {
  position: relative;
  overflow: hidden;
}
.article-post__img::after {
  content: "Read more";
  padding-top: 14.375rem;
  color: #fff;
  text-align: center;
  display: inline-block;
  background-color: rgba(107, 119, 229, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
@media (any-hover: hover) {
  .article-post__img:hover::after {
    left: 0;
  }
}
.article-post__img img {
  aspect-ratio: 592/428;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-post__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 29.99875em) {
  .article-post__wrapper {
    font-size: 1rem;
  }
}
.article-post__date {
  background-color: #6b77e5;
  color: #fff;
  font-weight: 600;
  padding: 1.3125rem 0 1.3125rem 0;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .article-post__date:hover {
    background-color: #3b4494;
  }
}
.article-post__author, .article-post__theme {
  padding: 1.3125rem 0 1.3125rem 0;
  text-align: center;
  background-color: #40ddb6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.article-post__author::before, .article-post__theme::before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.2777777778em;
}
@media (any-hover: hover) {
  .article-post__author:hover, .article-post__theme:hover {
    background-color: #38b999;
  }
}
.article-post__author {
  border-right: 0.125rem solid #199777;
}
.article-post__author::before {
  background: url("../img/main-img/human-posts.svg") no-repeat;
}
.article-post__theme::before {
  background: url("../img/main-img/smt-posts.svg") no-repeat;
}
.article-post__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 127%; /* 38.1px */
  margin-bottom: toREm(13, 30);
}
@media (any-hover: hover) {
  .article-post__title a:hover {
    text-decoration: underline;
  }
}
.article-post__text {
  color: #7d7d7d;
  font-size: 1.125rem;
  line-height: 146.187%; /* 26.314px */
  margin-bottom: 1.4444444444em;
}
.subscribe-section__container {
  background: url("../img/main-img/subscribe-img.webp") 0 0/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 11.1111111111em;
}
.subscribe-section__content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 45.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.subscribe-section__subtitle {
  color: #37393f;
  font-weight: 500;
  margin-bottom: 1.4444444444em;
}
.subscribe-section__subtitle::before {
  background-color: #6b77e5;
}
.subscribe-section__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
  margin-bottom: 0.25em;
}
.subscribe-section__title span {
  color: #fff;
}
.subscribe-section__text {
  color: #37393f;
  line-height: 146.187%; /* 26.314px */
  margin-bottom: 1.4444444444em;
}
.footer {
  background-color: #37393f;
  color: #fff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5.9375rem;
  padding-bottom: 5.9375rem;
}
@media (max-width: 29.99875em) {
  .footer__container {
    padding-inline: 0;
  }
}
.head-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding-bottom: 3.375rem;
  border-bottom: 0.0625rem solid #6c6d72;
}
.head-footer__logo img {
  width: 100%;
  height: 100%;
}
.head-footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52.125rem;
          flex: 0 1 52.125rem;
}
.head-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-footer__img {
  aspect-ratio: 68/68;
  max-width: 4.25rem;
  max-height: 4.25rem;
  margin-right: 0.6111111111em;
}
.head-footer__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.head-footer__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
@media (any-hover: hover) {
  .head-footer__text:hover {
    text-decoration: underline;
  }
}

.body-footer {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 2.5rem;
  border-bottom: 0.0625rem solid #6c6d72;
}
@media (max-width: 74.99875em) {
  .body-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 47.99875em) {
  .body-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.body-footer__faq {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.1875rem;
          flex: 0 1 41.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .body-footer__faq {
    display: none;
  }
}
.body-footer__details {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .body-footer__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    row-gap: 1.25rem;
  }
}
.body-footer__details details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-footer__details details summary::after {
  content: "";
  background: url("../img/footer-img/spoiler-arrow.svg") no-repeat;
  width: 1.25rem;
  height: 1.125rem;
}
.body-footer__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #40ddb6;
  margin-bottom: 0.65em;
}
.body-footer__subtitle::before {
  background-color: #6b77e5;
}
.body-footer__item {
  line-height: 220.187%; /* 39.634px */
}
.body-footer__item span {
  color: #40ddb6;
}
@media (any-hover: hover) {
  .body-footer__item a:hover {
    text-decoration: underline;
  }
}
.body-footer__subscribe {
  padding: 2.625rem 2.25rem;
  background-color: #474950;
}
@media (max-width: 33.625em) {
  .body-footer__subscribe {
    padding: 1.375rem 1rem;
  }
}
.body-footer__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.3em;
}
.body-footer__text {
  line-height: 130.187%; /* 39.634px */
  margin-bottom: 1.2777777778em;
}
.body-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.body-footer__form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.3125rem 0 1.3125rem 1.6875rem;
}
@media (max-width: 29.99875em) {
  .body-footer__form input {
    padding: 1rem 0 1rem 1.25rem;
  }
}
.body-footer__form input::-webkit-input-placeholder {
  color: #37393f;
}
.body-footer__form input::-moz-placeholder {
  color: #37393f;
}
.body-footer__form input:-ms-input-placeholder {
  color: #37393f;
}
.body-footer__form input::-ms-input-placeholder {
  color: #37393f;
}
.body-footer__form input::placeholder {
  color: #37393f;
}
.body-footer__form button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.foot-footer {
  padding-top: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.foot-footer__text {
  line-height: 144.523%; /* 26.014px */
}
.foot-footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.foot-footer__address span {
  line-height: 144.523%; /* 26.014px */
}
.foot-footer__address img {
  width: 1.0625rem;
  height: 1.0625rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .foot-footer__address img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}