@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Прибираємо стандартний маркер Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

/* Прибираємо стандартний маркер Firefox */
details > summary {
  list-style: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
.right-plan__subtitle, .best-section__subtitle {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
}

.right-plan__subtitle::before, .best-section__subtitle::before {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.6875rem;
          flex: 0 0 0.6875rem;
  background-color: #40ddb6;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 78.125rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.header__background {
  background-color: #37393f;
}
.contacts-header {
  color: #fff;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3125rem 0.9375rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 31.1875em) {
  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }
}
.contacts-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
}
@media (max-width: 61.93625em) {
  .contacts-header__left {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 53.6875em) {
  .contacts-header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 31.1875em) {
  .contacts-header__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-header__location > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-header__location > a::before {
  content: "";
  background: url("../img/header-img/gps.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.0625rem;
          flex: 0 1 1.0625rem;
  width: 1.0625rem;
  height: 1.5625rem;
  margin-right: 0.7142857143em;
}
@media (any-hover: hover) {
  .contacts-header__location > a:hover {
    text-decoration: underline;
  }
}
.contacts-header__mail > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-header__mail > a::before {
  content: "";
  background: url("../img/header-img/mail.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.4375rem;
          flex: 0 1 1.4375rem;
  width: 1.4375rem;
  height: 1.25rem;
  margin-right: 0.7142857143em;
}
@media (any-hover: hover) {
  .contacts-header__mail > a:hover {
    text-decoration: underline;
  }
}
.contacts-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}
@media (max-width: 61.93625em) {
  .contacts-header__right {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 53.6875em) {
  .contacts-header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 31.1875em) {
  .contacts-header__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-header__time > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-header__time > a::before {
  content: "";
  background: url("../img/header-img/clock.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.0625rem;
          flex: 0 1 1.0625rem;
  width: 1.0625rem;
  height: 1.0625rem;
  margin-right: 0.2857142857em;
}
@media (any-hover: hover) {
  .contacts-header__time > a:hover {
    text-decoration: underline;
  }
}
.contacts-header__social img {
  width: 1.0625rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .contacts-header__social img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.contacts-header__social a:not(:last-child) {
  margin-right: 1rem;
}

.header__menu {
  color: #37393f;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.0625rem 0;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 29.99875em) {
  .header__logo {
    width: 9.375rem;
  }
}
@media (max-width: 23.0625em) {
  .header__logo {
    width: 6.25rem;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 31.1875em) {
  .header__nav {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 61.93625em) {
  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(107, 119, 229, 0.5);
    padding: 4.375rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-header::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 4.1875rem;
    top: 0;
    left: 100%;
    z-index: 2;
    background-color: gray;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-open .menu-header {
    left: 0;
  }
  .menu-open .menu-header::before {
    left: 0;
  }
}
@media (max-width: 53.6875em) {
  .menu-header {
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu-header::before {
    min-height: 6.6875rem;
  }
}
@media (max-width: 44.5em) {
  .menu-header {
    padding: 13.75rem 0.9375rem 1.875rem 0.9375rem;
  }
}
@media (max-width: 31.1875em) {
  .menu-header {
    padding: 18.75rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu-header::before {
    min-height: 11.25rem;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 74.99875em) {
  .menu-header__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
@media (max-width: 61.93625em) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.5625rem;
  }
}
.menu-header__item {
  position: relative;
}
@media (any-hover: hover) {
  .menu-header__item:hover::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@media (any-hover: hover) {
  .menu-header__item:hover .submenu-header {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 61.93625em) {
  .menu-header__link {
    font-size: 1.875rem;
  }
}
.menu-header__item--submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  text-align: center;
}
.menu-header__item--submenu::after {
  content: "";
  display: inline-block;
  background: url("../img/header-img/arrow-menu.svg") no-repeat;
  width: 0.625rem;
  height: 0.375rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 61.93625em) {
  .menu-header__item--submenu::after {
    display: none;
  }
}
@media (max-width: 61.93625em) {
  .menu-header__item--submenu {
    display: block;
  }
}

.submenu-header {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 12.5rem;
  padding-top: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
@media (max-width: 61.93625em) {
  .submenu-header {
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 90vw;
  }
}
.submenu-header__list {
  background-color: blue;
  border-radius: 0.625rem;
}
.submenu-header__item {
  padding: 0.9375rem;
  color: white;
}
@media (any-hover: hover) {
  .submenu-header__link:hover {
    text-decoration: underline;
  }
}

.btn {
  padding: 21px 35px 22px 35px;
  padding: 1.3125rem 2.1875rem 1.375rem 2.1875rem;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6b77e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 5;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #2434c7;
  }
}
@media (max-width: 29.99875em) {
  .btn {
    padding: 0.9375rem;
    font-size: 1rem;
  }
}

.icon-menu {
  display: none;
  width: 1.875rem;
}
@media (max-width: 61.93625em) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
}
.menu-open .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.menu-open .icon-menu span {
  display: none;
}

.best-section {
  background: url("../img/main-img/background-main.jpg") 0 0/100% 815px no-repeat;
  background-size: cover;
  color: #fff;
}
.best-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 41.875rem;
  padding: 12.8125rem 1.875rem 12.75rem 7.3125rem;
}
@media (max-width: 47.99875em) {
  .best-section__content {
    padding: 12.8125rem 0.9375rem 12.75rem 3.75rem;
    max-width: 34.375rem;
  }
}
@media (max-width: 29.99875em) {
  .best-section__content {
    padding: 12.8125rem 0.9375rem 12.75rem 1.875rem;
  }
}
@media (max-width: 20em) {
  .best-section__content {
    padding: 6.25rem 0.3125rem 6.25rem 0.3125rem;
  }
}
.best-section__subtitle {
  margin-bottom: 0.9375rem;
}
@media (max-width: 29.99875em) {
  .best-section__subtitle {
    font-size: 1rem;
  }
}
.best-section__title {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 110%; /* 66px */
  margin-bottom: 1.25rem;
}
.best-section__title span {
  color: #40ddb6;
}
@media (max-width: 47.99875em) {
  .best-section__title {
    font-size: 2.5rem;
  }
}
.best-section__text {
  color: #b9b9b9;
  font-weight: 500;
  line-height: 146.187%; /* 26.314px */
  margin-bottom: 2.1875rem;
}
.best-section__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (max-width: 47.99875em) {
  .best-section__links {
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .best-section__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.best-section__img-watch {
  vertical-align: middle;
  margin-right: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  max-width: 3.75rem;
  max-height: 3.75rem;
}
@media (max-width: 29.99875em) {
  .best-section__img-watch {
    max-width: 3.125rem;
    max-height: 3.125rem;
  }
}
.best-section__img-watch img {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .best-section__img-watch:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.best-section__watch {
  font-weight: 600;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .best-section__watch:hover {
    text-decoration: underline;
  }
}

@media (max-width: 29.99875em) {
  .btn--width {
    padding-inline: 3.75rem;
  }
}

.plan-section {
  position: relative;
  margin-bottom: 100px;
}
.plan-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 43.2%;
  height: 100%;
  background-color: #f4f4f4;
}
.plan-section__container {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4.3125rem;
  padding-top: 9.4375rem;
  padding-bottom: 9.4375rem;
}
.left-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  padding-right: 3.25rem;
}
.left-plan__img {
  aspect-ratio: 408/446;
  max-width: 25.5rem;
  max-height: 27.875rem;
}
.left-plan__img img {
  width: 100%;
  height: 100%;
}
.left-plan__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 121%; /* 36.3px */
}
.left-plan__text, .merits-plan__text, .right-plan__text {
  color: #7d7d7d;
  line-height: 146.187%; /* 26.314px */
}
.left-plan__text p:not(:last-child), .merits-plan__text p:not(:last-child), .right-plan__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.left-plan__link {
  -ms-flex-item-align: start;
      align-self: start;
  color: #37393f;
  font-weight: 600;
  text-transform: capitalize;
  border: 0.125rem solid rgba(55, 57, 63, 0);
  border-bottom: 0.125rem solid #37393f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .left-plan__link:hover {
    border: 0.125rem solid #37393f;
    border-radius: 0.3125rem;
  }
}

.right-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right-plan__subtitle {
  color: #37393f;
  margin-bottom: 1rem;
}
.right-plan__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 121%; /* 48.4px */
  margin-bottom: 1.25rem;
}
.right-plan__text {
  margin-bottom: 1.25rem;
}
.right-plan__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.right-plan__list {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 2.6875rem;
}
.right-plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.right-plan__item:not(:last-child) {
  margin-bottom: 1.4375rem;
}
.right-plan__item::before {
  content: "";
  background: url("../img/main-img/vector.svg") no-repeat;
  width: 1.6875rem;
  height: 1.6875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875rem;
          flex: 0 0 1.6875rem;
}
.right-plan__merits {
  margin-bottom: 2.3125rem;
}
.right-plan__btn {
  -ms-flex-item-align: start;
      align-self: start;
}

.merits-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.3125rem;
}
.merits-plan__item {
  border: 0.0625rem solid #e3e3e3;
  padding: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.4375rem;
          flex: 0 1 18.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.1875rem;
     -moz-column-gap: 1.1875rem;
          column-gap: 1.1875rem;
}
.merits-plan__img img {
  width: 2.4375rem;
  height: 2.4375rem;
}
.merits-plan__title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.1875rem;
}
.merits-plan__text {
  line-height: 135.187%; /* 21.63px */
  font-size: 1rem;
}