@import url("fonts.css");

@import url("reset.css");

/* МАКЕТ №1 */

.limited-block {
    width: 693px;
    margin: 0 auto;
}

.first-part {
    margin-bottom: 39px;
}

.meet-img {
    margin-bottom: 24px;
}


.bussiness-block h1 {
        color: #37393F;
        font-family: "Poppins";
        font-size: 30px;
        line-height: 1.27; 
        margin-bottom: 19px;
        text-transform: capitalize;
}

.bussiness-block p {
    color: #7D7D7D;
    font-family: "Inter";
    font-size: 18px;
    line-height: 1.46;
    margin-bottom: 42px;
}


.main-text h2 {
    font-family: "Poppins";
    color: #6B77E5;
    font-size: 20px;
    line-height: 1.27; 
    margin-bottom: 12px;
}

.main-text p {
    color: #7D7D7D;
    font-family: "Inter";
    font-size: 18px;
    line-height: 1.46;
}

.benefits-text {
    display: inline-block;
    width: 313px;
    margin-left: 13px;
}

.benefits-text h2 {
    font-family: "Poppins";
    font-size: 25px;
    margin-bottom: 26px;
}

.benefits-text h3 {
    color: #40DDB6;
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1.27; 
    margin-bottom: 30px;
}

.benefits-text ul>li {
    color: #7D7D7D;
    font-family: "Inter";
    font-size: 18px;
    margin-bottom: 30px;
}

/* МАКЕТ №2 */

.jewerly-part {
    text-align: center;
    font-size: 50px;
    text-shadow: 10px 10px 10px rgb(16, 242, 152);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 100px;
}



.background {
    background-color: #FFF9F4;
}
.block {
    margin-top: 50px;
    max-width: 1169px;
    margin: 50px auto;
    font-size: 0;
}
.text {
    display: inline-block;
    width: 563px;
    margin-right: 38px;
}
.text h2 {
    font-family: "Inter", sans-serif;
    color: #D06B00;
    font-size: 28px;
    margin: 20px 0;
}
.text h1 {
    color: #0E333D;
    font-family: "DM Serif Text";
    font-size: 59px;
    line-height: 1.46;
    margin-bottom: 25px;
}
.text p {
    color: #474747;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.8;
}
.pictures {
    display: inline-block;
    vertical-align: top;
}
.woman {
    margin-right: 22px;
}





.padding-block {
    margin-top: 200px;
    background-color: yellow;
    width: 500px;
    padding: 20px 50px;
    padding: 24px 0 0 24px;
}

.margin-block-red {
    margin-top: 100px;
    background-color: rgb(238, 79, 11);
    width: 500px;
    height: 300px;
    padding: 40px 0 0 40px;
    margin-bottom: 200px;
}

.margin-block-green {
    background-color: green;
    width: 500px;
    height: 300px;
    padding: 40px 0 0 40px;
}

.margin-block-blue {
    background-color: blue;
    width: 500px;
    height: 300px;
    padding: 40px 0 0 40px;
}

.margin-block-black {
    background-color: black;
    width: 500px;
    height: 300px;
    padding: 40px 0 0 40px;
}

.avatar-img {
    width: 300px;
    height: 350px;
}
.pool-img {
    width: 250px;
    height: 300px;
}
.avatar-img2 {
    width: 200px;
    height: 250px;
}
.pool-img2 {
    width: 150px;
    height: 200px;
}
.avatar-img3 {
    width: 100px;
    height: 150px;
}
.pool-img3 {
    width: 50px;
    height: 100px;
}

.vertical-align img {
    vertical-align: middle;
    margin-right: -2%;
}

.scroll-block {
    margin-top: 100px;
    background-color: aqua;
    max-width: 500px;
    max-height: 200px;
    overflow: auto;
}
