@import url("fonts.css");

@import url("reset.css");

body {
    font-family: "IBM Plex Mono", sans-serif; 
}

h2, 
h3 {
    font-family: "Pacifico", cursive;
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.intro {
    font-style: oblique; 
}

.plot-container {
    font-weight: 600;
}

.start {
    color: rgba(128, 255, 0, 0.409);
}

.problem {
    text-align: right;
}

.problem>p {
    text-align: center;
}

.preparing>p {
    text-decoration: underline;
}

.filming {
    text-shadow: 10px 1px 10px blue;
    word-spacing: 10px;
}

.budget {
    text-transform: uppercase;
    white-space: nowrap;
}

.budget>p {
    text-transform: capitalize;
}

.trailer {
    text-indent: 100px;
}

.activity-container {
    line-height: 1.75;
}

.continue-container {
    letter-spacing: 1.5px;
}

.divide-title {
    font-size: 50px;
    text-align: center;
    text-decoration: line-through;
    text-shadow: 10px 10px 10px rgb(224, 2, 213);
}

/* Стилі макетів без підглядок в урок */

.figma h2 {
    font-family: "Poppins";
    color: #37393F;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    text-transform: capitalize;
}

.figma h3 {
    font-family: "Poppins";
    color: #6B77E5;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;

}

.figma p {
    font-family: "Inter";
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.46;s
}




.project-info h2 {
    font-family: "Poppins";
    color: #37393F;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.27;
}

.project-info p {
    font-family: "Inter";
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.46;
}

.project-list {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    color: #7D7D7D;
}