// Бібліотека математичних функцій
@use "sass:math";
// Обнулення стилів
@import "_reset.scss";
// Шрифти
@import "_fonts.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";

$mainColor: #3c4242;
$pc: toEm(1199.98);
$tablet: toEm(990.98);
$bigMobile: toEm(767.98);
$mediumMobile: toEm(479.98);
$smallMobile: toEm(320);

%subtitle {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: toRem(18);
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: toRem(7);
}
%subtitle-before {
    content: "";
    width: toRem(11);
    height: toRem(11);
    flex: 0 0 toRem(11);
    background-color: #40ddb6;
}
@mixin action-title(
    $titleColor: #2a2f2f,
    $titleSize: 17.875px,
    $titleWeight: 700,
    $titleLH: 27.93px,
    $titleLS: -0.715px
) {
    color: $titleColor;
    font-size: $titleSize;
    font-weight: $titleWeight;
    line-height: $titleLH;
    letter-spacing: $titleLS;
}

body {
    font-family: "Inter", sans-serif;
    font-size: toRem(18);
}
.menu-open body {
    overflow: hidden;
}
.wrapper {
    overflow: clip;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: toRem(1250);
    padding-inline: toRem(15);
    margin: 0 auto;
}

.header {
    // .header__contacts

    &__contacts {
    }

    // .header__background

    &__background {
        background-color: #37393f;
    }

    // .header__container

    &__container {
    }
}
.contacts-header {
    color: #fff;
    font-size: toRem(14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(21) toRem(15);
    position: relative;
    z-index: 5;

    @media (max-width: toEm(499)) {
        flex-direction: column;
        align-items: center;
        row-gap: toRem(20);
    }

    // .contacts-header__left

    &__left {
        display: flex;
        align-items: center;
        column-gap: toRem(42);
        @media (max-width: $tablet) {
            column-gap: toRem(20);
        }
        @media (max-width: toEm(859)) {
            flex-direction: column;
            row-gap: toRem(20);
            align-items: flex-start;
        }
        @media (max-width: toEm(499)) {
            align-items: center;
        }
    }

    // .contacts-header__location

    &__location {
        > a {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                background: url("../img/header-img/gps.svg") no-repeat;
                flex: 0 1 toRem(17);
                width: toRem(17);
                height: toRem(25);
                margin-right: toEm(10, 14);
            }
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // .contacts-header__mail

    &__mail {
        > a {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                background: url("../img/header-img/mail.svg") no-repeat;
                flex: 0 1 toRem(23);
                width: toRem(23);
                height: toRem(20);
                margin-right: toEm(10, 14);
            }
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // .contacts-header__right

    &__right {
        display: flex;
        column-gap: toRem(50);
        @media (max-width: $tablet) {
            column-gap: toRem(20);
        }
        @media (max-width: toEm(859)) {
            flex-direction: column;
            row-gap: toRem(20);
            align-items: flex-end;
        }
        @media (max-width: toEm(499)) {
            align-items: center;
        }
    }

    // .contacts-header__time

    &__time {
        > a {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                background: url("../img/header-img/clock.svg") no-repeat;
                flex: 0 1 toRem(17);
                width: toRem(17);
                height: toRem(17);
                margin-right: toEm(4, 14);
            }
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // .contacts-header__social

    &__social {
        img {
            width: toRem(17);
            height: toRem(16);
            transition: transform 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        a:not(:last-child) {
            margin-right: toRem(16);
        }
    }
}
.header {
    // .header__menu

    &__menu {
        color: #37393f;
        font-size: toRem(18);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: toRem(33) 0;
    }

    // .header__logo

    &__logo {
        position: relative;
        z-index: 5;

        img {
            width: 100%;
            height: 100%;
        }
        @media (max-width: $mediumMobile) {
            width: toRem(150);
        }
        @media (max-width: toEm(369)) {
            width: toRem(100);
        }
    }

    // .header__nav

    &__nav {
        display: flex;
        align-items: center;
        column-gap: toRem(40);

        @media (max-width: toEm(499)) {
            column-gap: toRem(20);
        }
    }

    // .header__btn

    &__btn {
    }
}
.menu-header {
    @media (max-width: $tablet) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: rgba(107, 119, 229, 0.5);
        padding: toRem(70) toRem(15) toRem(30) toRem(15);
        overflow: auto;
        transition: left 0.3s;

        &::before {
            content: "";
            position: fixed;
            width: 100%;
            min-height: toRem(67);
            top: 0;
            left: 100%;
            z-index: 2;
            background-color: gray;
            transition: left 0.3s;
        }

        .menu-open & {
            left: 0;
            &::before {
                left: 0;
            }
        }
    }
    @media (max-width: toEm(859)) {
        padding: toRem(120) toRem(15) toRem(30) toRem(15);
        &::before {
            min-height: toRem(107);
        }
    }
    @media (max-width: toEm(712)) {
        padding: toRem(220) toRem(15) toRem(30) toRem(15);
    }
    @media (max-width: toEm(499)) {
        padding: toRem(300) toRem(15) toRem(30) toRem(15);
        &::before {
            min-height: toRem(180);
        }
    }

    // .menu-header__list

    &__list {
        display: flex;
        column-gap: toRem(40);

        @media (max-width: $pc) {
            column-gap: toRem(25);
        }
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            row-gap: toRem(25);
        }
    }

    // .menu-header__item

    &__item {
        position: relative;

        @media (any-hover: hover) {
            &:hover::after {
                transform: rotate(-180deg);
            }
        }
        @media (any-hover: hover) {
            &:hover .submenu-header {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    // .menu-header__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: $tablet) {
            font-size: toRem(30);
        }
    }

    // .menu-header__item--submenu

    &__item--submenu {
        display: flex;
        align-items: center;
        column-gap: toRem(5);
        text-align: center;
        &::after {
            content: "";
            display: inline-block;
            background: url("../img/header-img/arrow-menu.svg") no-repeat;
            width: toRem(10);
            height: toRem(6);
            cursor: pointer;
            transition: transform 0.3s;

            @media (max-width: $tablet) {
                display: none;
            }
        }
        @media (max-width: $tablet) {
            display: block;
        }
    }
}
.submenu-header {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: toRem(200);
    padding-top: toRem(10);
    transition: all 0.3s;
    pointer-events: none;

    @media (max-width: $tablet) {
        position: relative;
        visibility: visible;
        opacity: 1;
        width: 90vw;
    }

    // .submenu-header__list

    &__list {
        background-color: blue;
        border-radius: toRem(10);
    }

    // .submenu-header__item

    &__item {
        padding: toRem(15);
        color: white;
    }

    // .submenu-header__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.btn {
    padding: 21px 35px 22px 35px;
    padding: toRem(21) toRem(35) toRem(22) toRem(35);
    color: #fff;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #6b77e5;
    transition: all 0.3s;
    position: relative;
    z-index: 5;

    @media (any-hover: hover) {
        &:hover {
            background-color: #2434c7;
        }
    }
    @media (max-width: $mediumMobile) {
        padding: toRem(15);
        font-size: toRem(16);
    }
}
.icon-menu {
    display: none;
    width: toRem(30);

    @media (max-width: $tablet) {
        display: block;
        flex: 0 0 toRem(30);
        height: toRem(18);
        position: relative;
        z-index: 5;

        &::before,
        &::after,
        span {
            content: "";
            height: toRem(2);
            width: 100%;
            position: absolute;
            left: 0;
            background-color: black;
            transition: all 0.3s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 50%;
            margin-top: toRem(-1);
        }
    }
    .menu-open & {
        &::before {
            transform: rotate(-45deg);
            top: 50%;
            margin-top: -1px;
        }
        &::after {
            transform: rotate(45deg);
            bottom: 50%;
            margin-bottom: -1px;
        }
        span {
            display: none;
        }
    }
}

.page {
    // .page__best

    &__best {
    }
}
.best-section {
    background: url("../img/main-img/background-main.jpg") 0 0 / 100% 815px
        no-repeat;
    background-size: cover;
    color: #fff;

    // .best-section__content

    &__content {
        display: flex;
        flex-direction: column;
        max-width: toRem(670);
        padding: toRem(205) toRem(30) toRem(204) toRem(117);

        @media (max-width: $bigMobile) {
            padding: toRem(205) toRem(15) toRem(204) toRem(60);
            max-width: toRem(550);
        }
        @media (max-width: $mediumMobile) {
            padding: toRem(205) toRem(15) toRem(204) toRem(30);
        }
        @media (max-width: $smallMobile) {
            padding: toRem(100) toRem(5) toRem(100) toRem(5);
        }
    }

    // .best-section__subtitle

    &__subtitle {
        @extend %subtitle;
        margin-bottom: toRem(15);

        &::before {
            @extend %subtitle-before;
        }
        @media (max-width: $mediumMobile) {
            font-size: toRem(16);
        }
    }

    // .best-section__title

    &__title {
        font-family: "Poppins", sans-serif;
        font-size: toRem(60);
        font-weight: 700;
        line-height: 110%; /* 66px */
        margin-bottom: toRem(20);

        span {
            color: #40ddb6;
        }

        @media (max-width: $bigMobile) {
            font-size: toRem(40);
        }
    }

    // .best-section__text

    &__text {
        color: #b9b9b9;
        font-weight: 500;
        line-height: 146.187%; /* 26.314px */
        margin-bottom: toRem(35);
    }
    &__links {
        display: flex;
        align-items: center;
        gap: toRem(30);

        @media (max-width: $bigMobile) {
            gap: toRem(20);
        }
        @media (max-width: $mediumMobile) {
            flex-direction: column;
        }
    }
    // .best-section__btn

    &__btn {
    }

    // .best-section__videos

    &__videos {
    }

    // .best-section__img-watch

    &__img-watch {
        vertical-align: middle;
        margin-right: toRem(10);
        transition: transform 0.3s;
        max-width: toRem(60);
        max-height: toRem(60);

        @media (max-width: $mediumMobile) {
            max-width: toRem(50);
            max-height: toRem(50);
        }

        img {
            width: 100%;
            height: 100%;
        }

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    // .best-section__watch

    &__watch {
        font-weight: 600;
        text-transform: capitalize;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.btn {
    &--width {
        @media (max-width: $mediumMobile) {
            padding-inline: toRem(60);
        }
    }
}

.page {
    // .page__plan

    &__plan {
    }
}
.plan-section {
    position: relative;
    margin-bottom: 100px;
    // .plan-section__background

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 43.2%;
        height: 100%;
        background-color: #f4f4f4;
    }

    // .plan-section__container

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: toRem(69);
        padding-top: toRem(151);
        padding-bottom: toRem(151);
    }

    // .plan-section__left

    &__left {
    }

    // .plan-section__right

    &__right {
    }
}
// width: 408px;
// height: 446px;

.left-plan {
    display: flex;
    flex-direction: column;
    row-gap: toRem(15);
    padding-right: toRem(52);
    // .left-plan__img

    &__img {
        aspect-ratio: 408 / 446;
        max-width: toRem(408);
        max-height: toRem(446);

        img {
            width: 100%;
            height: 100%;
        }
    }

    // .left-plan__title

    &__title {
        color: #37393f;
        font-family: "Poppins", sans-serif;
        font-size: toRem(30);
        font-weight: 600;
        line-height: 121%; /* 36.3px */
    }

    // .left-plan__text

    &__text {
        color: #7d7d7d;
        line-height: 146.187%; /* 26.314px */

        p:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .left-plan__link

    &__link {
        align-self: start;
        color: #37393f;
        font-weight: 600;
        text-transform: capitalize;
        border: toRem(2) solid #37393f00;
        border-bottom: toRem(2) solid #37393f;
        transition: all 0.3s;

        @media (any-hover: hover) {
            &:hover {
                border: toRem(2) solid #37393f;
                border-radius: toRem(5);
            }
        }
    }
}
.right-plan {
    display: flex;
    flex-direction: column;

    // .right-plan__subtitle

    &__subtitle {
        @extend %subtitle;
        color: #37393f;
        margin-bottom: toRem(16);
        &::before {
            @extend %subtitle-before;
        }
    }

    // .right-plan__title

    &__title {
        color: #37393f;
        font-family: "Poppins", sans-serif;
        font-size: toRem(40);
        font-weight: 700;
        line-height: 121%; /* 48.4px */
        margin-bottom: toRem(20);
    }

    // .right-plan__text

    &__text {
        @extend .left-plan__text;
        margin-bottom: toRem(20);

        p:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }

    // .right-plan__list

    &__list {
        color: #37393f;
        font-family: "Poppins", sans-serif;
        font-size: toRem(20);
        margin-bottom: toRem(43);
    }

    // .right-plan__item

    &__item {
        display: flex;
        align-items: center;
        column-gap: toRem(8);
        &:not(:last-child) {
            margin-bottom: toRem(23);
        }

        &::before {
            content: "";
            background: url("../img/main-img/vector.svg") no-repeat;
            width: toRem(27);
            height: toRem(27);
            flex: 0 0 toRem(27);
        }
    }

    // .right-plan__merits

    &__merits {
        margin-bottom: toRem(37);
    }

    // .right-plan__btn

    &__btn {
        align-self: start;
    }
}
.merits-plan {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(21);

    // .merits-plan__item

    &__item {
        border: toRem(1) solid #e3e3e3;
        padding: toRem(32);
        flex: 0 1 toRem(295);
        display: flex;
        column-gap: toRem(19);
    }

    &__img {
        img {
            width: toRem(39);
            height: toRem(39);
        }
    }

    &__body {
    }

    // .merits-plan__title

    &__title {
        color: #37393f;
        font-family: "Poppins", sans-serif;
        font-size: toRem(20);
        font-weight: 600;
        margin-bottom: toRem(3);
    }

    // .merits-plan__text

    &__text {
        @extend .left-plan__text;
        line-height: 135.187%; /* 21.63px */
        font-size: toRem(16);
    }
}
